.my-table {
  /*border-collapse: collapse;*/
  width: 500px;
}

td, th {
  border: 1px solid gray;
  text-align: center;
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}
